{% load static %}

<div id="about" class="paddsection">
    <div class="container">
      <div class="row justify-content-between">

        <div class="col-lg-4 ">
          <div class="div-img-bg">
            <div class="about-img">
              <img src="{% static "main/assets/img/me.jpeg" %}" class="img-responsive" alt="me">
            </div>
          </div>
        </div>

        <div class="col-lg-7">
          <div class="about-descr">
            <h1>About Me</h1>
            <p class="p-heading">My name is Brandon Kayat, a registered Clinical Psychologist in Durban, South Africa. With a Masters of Social Science in Clinical Psychology, I bring a wealth of expertise to my services in Durban as an online psychologist.</p>
            <p class="separator">My professional journey includes completing internships at the King Dinuzulu Hospital Complex and King Edward V Hospital in Durban, as well as during my community service at Pietermaritzburg Medium A Correctional Centre where I worked with male offenders. As a male psychologist, I found this work incredibly insightful into the issues surrounding male mental health. In addition, I've worked during several years in supporting vulnerable youths in KwaMashu and Wentworth. In addition, I've served as a trauma counselor with the North Durban Victim Support team (NDVST) and as a member of the Durban North Community Policing Forum (CPF).</p>

          </div>

        </div>
      </div>
    </div>
</div>