<div id="services">
    <div class="container">

      <div class="services-slider swiper" data-aos="fade-up" data-aos-delay="100">
        <div class="swiper-wrapper">

          <div class="swiper-slide">
            <div class="services-block">
              <i class="bi bi-briefcase"></i>
              <span>Depression/ Anxiety</span>
              <p class="separator">To an English person, it will seem like simplified English,told me what </p>
            </div>
          </div><!-- End testimonial item -->

          <div class="swiper-slide">
            <div class="services-block">
              <i class="bi bi-card-checklist"></i>
              <span>Trauma</span>
              <p class="separator">To an English person, it will seem like simplified English,told me what </p>
            </div>
          </div><!-- End testimonial item -->

          <div class="swiper-slide">
            <div class="services-block">
              <i class="bi bi-bar-chart"></i>
              <span>Anger and Impulse Management</span>
              <p class="separator">To an English person, it will seem like simplified English,told me what </p>
            </div>
          </div><!-- End testimonial item -->

          <div class="swiper-slide">
            <div class="services-block">
              <i class="bi bi-binoculars"></i>
              <span>Substance Abuse</span>
              <p class="separator">To an English person, it will seem like simplified English,told me what </p>
            </div>
          </div><!-- End testimonial item -->

          <div class="swiper-slide">
            <div class="services-block">
              <i class="bi bi-brightness-high"></i>
              <span>Autism</span>
              <p class="separator">To an English person, it will seem like simplified English,told me what </p>
            </div>
          </div><!-- End testimonial item -->

          <div class="swiper-slide">
            <div class="services-block">
              <i class="bi bi-calendar4-week"></i>
              <span>Gender Identity</span>
              <p class="separator">To an English person, it will seem like simplified English,told me what </p>
            </div>
          </div><!-- End testimonial item -->

        </div>
        <div class="swiper-pagination"></div>
      </div>

    </div>

  </div>v